*.bmp
*.ppm
*.pfm
*.hdr
*.suo
*.sdf
*.opensdf
*.html
SmallVCM.vcxproj.user
/build/*
/ipch/*
.vs/SmallVCM/v16/ipch/AutoPCH/8a73f1d31f6ed2be/SMALLVCM.ipch
.vs/SmallVCM/v16/Browse.VC.opendb
.vs/SmallVCM/v16/Browse.VC.db
.vs/SmallVCM/v16/ipch/AutoPCH/25f4de9a72d81d65/SMALLVCM.ipch
.vs/SmallVCM/v16/ipch/AutoPCH/82cb283cefe79e05/SMALLVCM.ipch
.vs/SmallVCM/v16/ipch/AutoPCH/d89f24e54ebd6a1e/SMALLVCM.ipch
x64/Debug/SmallVCM.exe
x64/Debug/SmallVCM.ilk
x64/Debug/SmallVCM.log
x64/Debug/smallvcm.obj
x64/Debug/SmallVCM.pdb
x64/Debug/SmallVCM.tlog/CL.command.1.tlog
x64/Debug/SmallVCM.tlog/CL.read.1.tlog
x64/Debug/SmallVCM.tlog/CL.write.1.tlog
x64/Debug/SmallVCM.tlog/link.command.1.tlog
x64/Debug/SmallVCM.tlog/link.read.1.tlog
x64/Debug/SmallVCM.tlog/link.write.1.tlog
x64/Debug/SmallVCM.tlog/SmallVCM.lastbuildstate
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/SmallVCM.exe
x64/Release/SmallVCM.iobj
x64/Release/SmallVCM.ipdb
x64/Release/SmallVCM.log
x64/Release/smallvcm.obj
x64/Release/SmallVCM.pdb
x64/Release/SmallVCM.tlog/CL.command.1.tlog
x64/Release/SmallVCM.tlog/CL.read.1.tlog
x64/Release/SmallVCM.tlog/CL.write.1.tlog
x64/Release/SmallVCM.tlog/link.command.1.tlog
x64/Release/SmallVCM.tlog/link.read.1.tlog
x64/Release/SmallVCM.tlog/link.write.1.tlog
x64/Release/SmallVCM.tlog/SmallVCM.lastbuildstate
x64/Release/SmallVCM.tlog/SmallVCM.write.1u.tlog
x64/Release/vc142.pdb
